In [1]:
import pandas as pd

In [2]:
pog = pd.read_excel('files/01 - POG_Jan2021_23BPM.xlsx', sheet_name='Sheet1')

In [29]:
def classifica_cia(row):
    if '51 CIA' in row['NOM_UNIDADE_AREA']:
        return '51 CIA'
    elif '53 CIA' in row['NOM_UNIDADE_AREA']:
        return '53 CIA'
    elif '139 CIA' in row['NOM_UNIDADE_AREA']:
        return '139 CIA'
    elif '142 CIA' in row['NOM_UNIDADE_AREA']:
        return '142 CIA'
    elif row['MUNICIPIO'] in ['CARMO DO CAJURU', 'SAO GONCALO DO PARA']:
        return '142 CIA'
    elif row['MUNICIPIO'] in ['ITAUNA', 'ITATIAIUCU']:
        return '51 CIA'
    elif row['MUNICIPIO'] == 'CLAUDIO':
        return '139 CIA'
    elif '51 CIA' in row['NOM_UNID_RESPONSAVEL']:
        return '51 CIA'
    elif '53 CIA' in row['NOM_UNID_RESPONSAVEL']:
        return '53 CIA'
    elif '139 CIA' in row['NOM_UNID_RESPONSAVEL']:
        return '139 CIA'
    elif '142 CIA' in row['NOM_UNID_RESPONSAVEL']:
        return '142 CIA'
    else:
        return 'INDEFINIDA'
pog['CIA'] = pog.apply(lambda row: classifica_cia(row), axis=1)

In [30]:
pog['CIA'].value_counts()

142 CIA       566
139 CIA       467
51 CIA        318
53 CIA        297
INDEFINIDA      3
Name: CIA, dtype: int64

In [45]:
pog[
    pog['CIA'] == 'INDEFINIDA'
][
    ['RAT.NUM_ATIVIDADE', 'TIPO_LOGRADOURO',
       'LOGRADOURO', 'DES_ENDERECO', 'NUM_ENDERECO', 'COMPLEMENTO_ALFA',
       'COMPLEMENTO_ENDERECO', 'NUM_COMPLEMENTAR', 'COD_BAIRRO', 'NOME_BAIRRO',
       'TIPO_LOGRADOURO2', 'LOGRADOURO2', 'DES_ENDERECO2', 'COD_MUNICIPIO',
       'COD_MG', 'MUNICIPIO', 'NOM_UNID_RESPONSAVEL']
]

,RAT.NUM_ATIVIDADE,TIPO_LOGRADOURO,LOGRADOURO,DES_ENDERECO,NUM_ENDERECO,COMPLEMENTO_ALFA,COMPLEMENTO_ENDERECO,NUM_COMPLEMENTAR,COD_BAIRRO,NOME_BAIRRO,TIPO_LOGRADOURO2,LOGRADOURO2,DES_ENDERECO2,COD_MUNICIPIO,COD_MG,MUNICIPIO,NOM_UNID_RESPONSAVEL
878,2021-002644793-001,AVENIDA,PARANA,PARANA,1797,,,,,,,,,312230,31,DIVINOPOLIS,240 CIA TM/23 BPM/7 RPM
879,2021-002645612-001,RUA,CRISTO REDENTOR,CRISTO REDENTOR,1681,,,,,,,,,312230,31,DIVINOPOLIS,240 CIA TM/23 BPM/7 RPM
880,2021-002646933-001,RUA,SANTA CLARA,SANTA CLARA,660,,,,,,,,,312230,31,DIVINOPOLIS,240 CIA TM/23 BPM/7 RPM

In [31]:
classificador_ultimos = {
    '2021-002644793-001': '139 CIA',
    '2021-002645612-001': '139 CIA',
    '2021-002646933-001': '142 CIA',
    
}

In [32]:
def classifica_ultimos(row):
    if row['CIA'] == 'INDEFINIDA':
        return classificador_ultimos[row['RAT.NUM_ATIVIDADE']]
    else:
        return row['CIA']

pog['CIA'] = pog.apply(lambda row: classifica_ultimos(row), axis=1)

In [33]:
pog['CIA'].value_counts()

142 CIA    567
139 CIA    469
51 CIA     318
53 CIA     297
Name: CIA, dtype: int64