In [5]:
import pandas as pd
import numpy as np

In [1]:
%%time
import funcs

rats_gdo = funcs.get_rats_gdo()
rats_gdo.head(3)

CPU times: user 2.7 s, sys: 112 ms, total: 2.81 s
Wall time: 2.81 s

,NAT.CODIGO,NAT.DESCRICAO,DTA_HRA_INCLUSAO,DTA_INICIO,HRA_INICIO,DTA_TERMINO,HRA_TERMINO,DES_ALVO_EVENTO,DES_LUGAR,NOM_OPERACAO,...,CIA,VIATURAS,EFETIVO,EFETIVIDADE_PARCIAL,Qde de locais fiscalizados,Qde de pessoas abordadas,Qde de pessoas que sopraram o etilometro,Qde de veiculos fiscalizados,EFICIENCIA_E_EFICACIA,EFETIVIDADE
RAT.NUM_ATIVIDADE,,,,,,,,,,,,,,,,,,,,,
2018-046472984-001,Y07001,OPERACAO DE BATIDA POLICIAL,17/10/2018,17/10/2018,18:43,17/10/2018,19:00,TRANSEUNTE,VIA DE ACESSO PUBLICA,,...,139 CIA,1,2,0,0,0,0,0,0,0
2018-051709149-001,Y07001,OPERACAO DE BATIDA POLICIAL,20/11/2018,20/11/2018,05:25,20/11/2018,07:15,TRANSEUNTE,METALURGICA / SIDERURGICA,,...,142 CIA,1,2,0,0,0,0,0,0,0
2018-052156427-001,Y07001,OPERACAO DE BATIDA POLICIAL,22/11/2018,22/11/2018,20:20,22/11/2018,20:45,TRANSEUNTE,VIA DE ACESSO PUBLICA,,...,142 CIA,1,2,0,0,0,0,0,0,0

In [4]:
# rqv_cinds = pd.read_excel('files/PLANILHA RQV ATE 20ABR20.xlsx', sheet_name='DADOS', index_col='RAT.NUM_ATIVIDADE')
# rqv_cinds['NOM_UNID_RESPONSAVEL'].fillna('', inplace=True)

In [9]:
# import funcs

# rqv_cinds = rqv_cinds[
#     ( ~ rqv_cinds['NOM_UNID_RESPONSAVEL'].str.contains('IND PE')) &
#     ( ~ rqv_cinds['NOM_UNID_RESPONSAVEL'].str.contains('BPE')) &
#     ( ~ rqv_cinds['NOM_UNID_RESPONSAVEL'].str.contains('CPE'))
# ]

# rqv_cinds = funcs.filter_23(rqv_cinds)

In [10]:
# rqv_pandas = df_rat[
#     (df_rat['NAT.CODIGO'].str.contains('Y0700[1345]')) &
#     ( ~ df_rat['NOM_UNID_RESPONSAVEL'].str.contains('IND PE')) &
#     ( ~ df_rat['NOM_UNID_RESPONSAVEL'].str.contains('BPE')) &
#     ( ~ df_rat['NOM_UNID_RESPONSAVEL'].str.contains('CPE')) &
#     (df_rat['ANO'] == 2020) &
#     ~ (
#         (df_rat['MES'] == 4) &
#         (df_rat['DEZENA'] == 3)
#     )
# ]

In [11]:
rqv_cinds[
    rqv_cinds['EFETIVIDADE'] == 1.
].shape

(1006, 27)

In [12]:
rqv_pandas[
    rqv_pandas['EFETIVIDADE'] == 1
].shape

(1007, 50)

In [13]:
rqv_pandas[
    rqv_pandas['EFETIVIDADE'] == 1
].index.difference(rqv_cinds[
    rqv_cinds['EFETIVIDADE'] == 1.
].index)

Index(['2020-018686348-001', '2020-018932160-001', '2020-019172850-001'], dtype='object', name='RAT.NUM_ATIVIDADE')

In [18]:
rqv_cinds[
    rqv_cinds['EFETIVIDADE'] == 1
].index.difference(rqv_pandas[
    rqv_pandas['EFETIVIDADE'] == 1.
].index)

Index(['2020-017273099-001', '2020-017298810-001'], dtype='object', name='RAT.NUM_ATIVIDADE')

In [29]:
rqv_pandas.loc[['2020-018686348-001', '2020-018932160-001', '2020-019172850-001']][[
    'NAT.CODIGO',
    'TEMPO_INT',
    'EFETIVO',
    'VIATURAS',
    'Qde de veiculos fiscalizados',
    'Qde de pessoas abordadas',
    'Qde de locais fiscalizados',
    'Qde de pessoas que sopraram o etilometro'
]]

,NAT.CODIGO,TEMPO_INT,EFETIVO,VIATURAS,Qde de veiculos fiscalizados,Qde de pessoas abordadas,Qde de locais fiscalizados,Qde de pessoas que sopraram o etilometro
RAT.NUM_ATIVIDADE,,,,,,,,
2020-018686348-001,Y07001,398,2,1,5,12,3,0
2020-018932160-001,Y07001,60,2,1,2,13,0,0
2020-019172850-001,Y07001,515,2,2,4,13,2,0

In [20]:
rqv_cinds.loc[['2020-017273099-001', '2020-017298810-001']][[
    'DTA_INICIO',
    'NATUREZA',
    'EFETIVO',
    'VIATURA',
    'VEICULOS',
    'PESSOAS',
    'LOCAIS'    
]]

,DTA_INICIO,NATUREZA,EFETIVO,VIATURA,VEICULOS,PESSOAS,LOCAIS
RAT.NUM_ATIVIDADE,,,,,,,
2020-017273099-001,2020-04-10 00:00:00,Y07001,8.0,3.0,1.0,6.0,2.0
2020-017298810-001,2020-04-10 00:00:00,Y07001,8.0,3.0,1.0,9.0,3.0

In [34]:
df_rat[
    df_rat['RAT.NUM_ATIVIDADE'] == '2020-017298810-001'
].iloc[0]

RAT.NUM_ATIVIDADE                       2020-017298810-001
NAT.CODIGO                                          Y04012
NAT.DESCRICAO                            OPERACAO LEI SECA
DTA_HRA_INCLUSAO                                10/04/2020
DTA_INICIO                                      10/04/2020
HRA_INICIO                                           17:30
DTA_TERMINO                                     10/04/2020
HRA_TERMINO                                          18:40
DES_ALVO_EVENTO         PROPRIETARIO / CONDUTOR DE VEICULO
DES_LUGAR                            VIA DE ACESSO PUBLICA
NOM_OPERACAO
COD_UNIDADE_SERVICO                                  M7342
NOM_UNID_RESPONSAVEL               240 CIA TM/23 BPM/7 RPM
TIPO_LOGRADOURO                                    AVENIDA
LOGRADOURO                                    MONTE LIBANO
DES_ENDERECO                                  MONTE LIBANO
NUM_ENDERECO                                           792
COMPLEMENTO_ALFA
COMPLEMENTO_ENDERECO
NUM_COMPLEMENTAR
COD_BAIRRO                                           10216
NOME_BAIRRO                                       SAO LUIZ
TIPO_LOGRADOURO2
LOGRADOURO2
DES_ENDERECO2
COD_MUNICIPIO                                       312230
MUNICIPIO                                      DIVINOPOLIS
LATITUDE                                       -20.1432811
LONGITUDE                                       -44.870515
COD_UNIDADE_AREA                                     M2572
NOM_UNIDADE_AREA                   142 CIA PM/23 BPM/7 RPM
DIGITADOR                                        PM1617489
DTA_HRA_INICIO_DT                      2020-04-10 17:30:00
DTA_HRA_TERMINO_DT                     2020-04-10 18:40:00
TEMPO_DT                                           4.2e+12
TEMPO_INT                                               70
DIA                                                     10
MES                                                      4
ANO                                                   2020
DEZENA                                                   1
SETOR                                              NITEROI
CIA                                                142 CIA
Name: 46555, dtype: object