In [1]:
import pandas as pd
import numpy as np

In [5]:
%%time
import funcs

rats_gdo = funcs.get_rats_gdo()
rats_gdo.head(3)

CPU times: user 708 ms, sys: 1.67 ms, total: 710 ms
Wall time: 709 ms

,NAT.CODIGO,NAT.DESCRICAO,DTA_HRA_INCLUSAO,DTA_INICIO,HRA_INICIO,DTA_TERMINO,HRA_TERMINO,DES_ALVO_EVENTO,DES_LUGAR,NOM_OPERACAO,...,CIA,VIATURAS,EFETIVO,EFETIVIDADE_PARCIAL,Qde de locais fiscalizados,Qde de pessoas abordadas,Qde de pessoas que sopraram o etilometro,Qde de veiculos fiscalizados,EFICIENCIA_E_EFICACIA,EFETIVIDADE
RAT.NUM_ATIVIDADE,,,,,,,,,,,,,,,,,,,,,
2019-006234146-001,Y07001,OPERACAO DE BATIDA POLICIAL,09/02/2019,09/02/2019,14:19,09/02/2019,23:30,VIA DE ACESSO PUBLICA,VIA DE ACESSO PUBLICA,,...,53 CIA,1,2,0,0,0,0,0,0,0
2019-007702215-001,Y07001,OPERACAO DE BATIDA POLICIAL,18/02/2019,18/02/2019,14:04,18/02/2019,19:00,PROPRIETARIO / FUNCIONARIO DE ESTABELECIMENTO,VIA DE ACESSO PUBLICA,,...,53 CIA,1,1,0,0,0,0,0,0,0
2019-008142426-001,Y07001,OPERACAO DE BATIDA POLICIAL,20/02/2019,20/02/2019,14:14,20/02/2019,19:00,PROPRIETARIO / FUNCIONARIO DE ESTABELECIMENTO,VIA DE ACESSO PUBLICA,,...,53 CIA,1,1,0,0,0,0,0,0,0

<h2 style='color:#009'>Código para gerar relatório de LEI SECA, por Cias, por ano, por mês</h2>

In [6]:
rats_ols = rats_gdo[        
    (~rats_gdo['NOM_UNID_RESPONSAVEL'].str.contains('PRV'))
    & (rats_gdo['NAT.CODIGO'] == 'Y04012')
]
rats_ols.loc[:,'CIA_OLS'] = np.select([
    rats_ols.loc[:,'NOM_UNID_RESPONSAVEL'].str.contains('240')
], [
    '240 CIA'
    ], default = rats_ols.loc[:,'CIA'])

ols_by_cia = rats_ols[
    rats_ols['ANO'] >= 2020
].groupby(['ANO','MES','CIA_OLS']).sum()['EFETIVIDADE'].unstack(['MES']).fillna(0)

ols_by_cia.loc[:,'ACUM'] = ols_by_cia.sum(1)
ols_by_cia.loc[(2020, '23 BPM'),:] = ols_by_cia.sum()

# rats_ols

ols_by_cia = ols_by_cia.astype('int16')
ols_by_cia.columns =  pd.MultiIndex.from_product([['OLS'], ols_by_cia.columns])
ols_by_cia

/home/wendelteixeira/.asdf/installs/python/anaconda3-2020.02/lib/python3.7/site-packages/pandas/core/indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/wendelteixeira/.asdf/installs/python/anaconda3-2020.02/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

             OLS
MES            1  2  3   4   5   6   7 ACUM
ANO  CIA_OLS
2020 139 CIA   1  0  1   2   0   2   2    8
     142 CIA   0  1  0   0   4   2   1    8
     240 CIA   0  1  2   7   6   6   4   26
     51 CIA    0  3  1   2   3   3   3   15
     53 CIA    2  0  0   1   0   0   3    6
     23 BPM    3  5  4  12  13  13  13   63

<h2 style='color:#009'>Código para gerar relatório de RQV, por setores, por ano, por mês</h2>

In [7]:
rats_rqv = rats_gdo[
    (rats_gdo['NAT.CODIGO'].str.contains('Y0700[1345]')) &
    ( ~ rats_gdo['NOM_UNID_RESPONSAVEL'].str.contains('IND PE')) &
    ( ~ rats_gdo['NOM_UNID_RESPONSAVEL'].str.contains('BPE')) &
    ( ~ rats_gdo['NOM_UNID_RESPONSAVEL'].str.contains('CPE')) &
    (rats_gdo['ANO'] == 2020)
]

rqv_by_cia = rats_rqv.groupby(['MES','CIA']).sum()[['EFICIENCIA_E_EFICACIA','EFETIVIDADE']]
rqv_by_cia = rqv_by_cia.unstack('MES')
rqv_by_cia.loc['23 BPM'] = rqv_by_cia.sum()
rqv_by_cia.loc[:,('EFICIENCIA_E_EFICACIA', 'ACUM')] = rqv_by_cia.loc[:,'EFICIENCIA_E_EFICACIA'].sum(axis=1)
rqv_by_cia.loc[:,('EFETIVIDADE', 'ACUM')] = rqv_by_cia.loc[:,'EFETIVIDADE'].sum(axis=1)
rqv_by_cia = rqv_by_cia[['EFICIENCIA_E_EFICACIA', 'EFETIVIDADE']]
rqv_by_cia.fillna(0)

        EFICIENCIA_E_EFICACIA                                             \
MES                         1       2      3      4      5      6      7
CIA
139 CIA                 238.0   270.0  232.0  202.0  245.0  254.0  176.0
142 CIA                 454.0   399.0  361.0  234.0  211.0  195.0  124.0
51 CIA                  273.0   163.0  135.0  127.0  193.0  186.0   77.0
53 CIA                  249.0   198.0  213.0  187.0  227.0  187.0   95.0
other                     0.0     0.0    0.0    0.0    0.0    1.0    0.0
23 BPM                 1214.0  1030.0  941.0  750.0  876.0  823.0  472.0

                EFETIVIDADE
MES        ACUM           1      2      3      4      5      6      7    ACUM
CIA
139 CIA  1617.0        45.0   46.0   41.0   44.0   59.0   41.0   27.0   303.0
142 CIA  1978.0       147.0  147.0  141.0   90.0   72.0   54.0   46.0   697.0
51 CIA   1154.0       109.0   63.0   70.0   56.0   99.0   91.0   32.0   520.0
53 CIA   1356.0        55.0   30.0   28.0   23.0   24.0   18.0    7.0   185.0
other       1.0         0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0
23 BPM   6106.0       356.0  286.0  280.0  213.0  254.0  204.0  112.0  1705.0

In [8]:
writer = pd.ExcelWriter('rqv_e_ols.xlsx', engine='xlsxwriter')
rqv_by_cia.to_excel(writer, sheet_name='RQV')
ols_by_cia.to_excel(writer, sheet_name='OLS')
rats_gdo.to_excel(writer, sheet_name='Todos os registros')
writer.save()