<h1 style='color:#008'>Read all RAT csv insert data on database</h1>

In [3]:
%%time
import pandas as pd
import funcs, gc

files_names = funcs.get_files_names(only_not_imported=False)
print('files ok')

df_rat = funcs.read_files(files_names['rat'])
print('files lidos ok')

df_rat = funcs.data_rat_processing(df_rat)
print('processing df ok')

df_classif = funcs.get_df_classif()
df_rat['SETOR'] = df_rat.apply(lambda row: funcs.classifica_setor(row, df_classif), axis=1)
print('classificação setores ok')

funcs.classifica_cia(df_rat=df_rat)
print('classificação cias ok')

df_rat.to_sql('tbl_rat', 'sqlite:///gdo.db', if_exists='replace', index=False)
print('dados exportados para o db ok')

del df_rat
print('df_rat deleted')
gc.collect()

pd.DataFrame(files_names['rat']).to_sql('tbl_imported_files', 'sqlite:///gdo.db', if_exists='replace', index=False)
print('nomes dos arquivos importados, já inseridos no db')

files ok
nomes dos arquivos importados, já inseridos no db
CPU times: user 46.6 ms, sys: 7.87 ms, total: 54.4 ms
Wall time: 307 ms

<h1 style='color:#008'>Read all RAT_VIATURA csv insert data on database</h1>

In [5]:
%%time
import pandas as pd
import numpy as np
import funcs, gc

files_names = funcs.get_files_names(only_not_imported=False)
print('files ok')

df_ratv = funcs.read_files(files_names['ratv'], rat_data=False)
print('files lidos ok')


df_ratv.to_sql('tbl_rat_viaturas', 'sqlite:///gdo.db', if_exists='replace', index=False)
print('dados exportados para o db ok')

del df_ratv
print('df_ratv deleted')
gc.collect()

df_names_files = pd.read_sql_table('tbl_imported_files', 'sqlite:///gdo.db')

df_names_files = df_names_files[
    ~ df_names_files['0'].str.contains('REDS_RAT_V')
]

pd.DataFrame(files_names['ratv']).to_sql('tbl_imported_files', 'sqlite:///gdo.db', if_exists='append', index=False)
print('nomes dos arquivos importados, já inseridos no db')

            NUM_ATIVIDADE  NUM_SEQ_RECURSO NUM_PLACA NUM_PREFIXO
217    2018-046472984-001              1.0   PYW3528       25043
234    2018-046878708-001              1.0   PYT0241       24453
237    2018-047006854-001              1.0   PYT0241       24453
291    2018-048663517-001              1.0   OLW8026       19912
304    2018-049254756-001              1.0   HNO5472       18298
...                   ...              ...       ...         ...
76484  2020-025927897-001              1.0   QMV1934       28496
76487  2020-025927950-001              1.0   OQM9213       20904
76650  2020-025934297-001              1.0   OQM9213       20904
76667  2020-025934923-001              1.0   QUS2230       28884
77179  2020-025951190-001              1.0   PUE9253       25669

[55731 rows x 4 columns]

<h1 style='color:#008'>Read all RAT_EFETIVO csv insert data on database</h1>

In [5]:
%%time
import pandas as pd
import numpy as np
import funcs, gc

files_names = funcs.get_files_names(only_not_imported=False)
print('files ok')

df_rate = funcs.read_files(files_names['rate'], rat_data=False)
print('files lidos ok')

df_rate.to_sql('tbl_rat_efetivo', 'sqlite:///gdo.db', if_exists='replace', index=False)
print('dados exportados para o db ok')

del df_rate
print('df_rate deleted')
gc.collect()

df_names_files = pd.read_sql_table('tbl_imported_files', 'sqlite:///gdo.db')

df_names_files = df_names_files[
    ~ df_names_files['0'].str.contains('REDS_RAT_E')
]

pd.DataFrame(files_names['rate']).to_sql('tbl_imported_files', 'sqlite:///gdo.db', if_exists='append', index=False)
print('nomes dos arquivos importados, já inseridos no db')

files ok
nomes dos arquivos importados, já inseridos no db
CPU times: user 9.68 ms, sys: 11.9 ms, total: 21.5 ms
Wall time: 215 ms

<h1 style='color:#008'>Read all RAT_PRODUTIVIDADE csv insert data on database</h1>

In [6]:
%%time
import pandas as pd
import numpy as np
import funcs, gc

files_names = funcs.get_files_names(only_not_imported=False)
print('files ok')

df_ratp = funcs.read_files(files_names['ratp'], rat_data=False)
print('files lidos ok')

df_ratp.to_sql('tbl_rat_produtividade', 'sqlite:///gdo.db', if_exists='replace', index=False)
print('dados exportados para o db ok')

del df_ratp
print('df_ratp deleted')
gc.collect()

df_names_files = pd.read_sql_table('tbl_imported_files', 'sqlite:///gdo.db')

df_names_files = df_names_files[
    ~ df_names_files['0'].str.contains('REDS_RAT_P')
]

pd.DataFrame(files_names['ratp']).to_sql('tbl_imported_files', 'sqlite:///gdo.db', if_exists='append', index=False)
print('nomes dos arquivos importados, já inseridos no db')

files ok
nomes dos arquivos importados, já inseridos no db
CPU times: user 6.48 ms, sys: 7.77 ms, total: 14.3 ms
Wall time: 156 ms